#charts {
	width: 100%;
}

h1 {
	font-family: arial;
}

textarea {
  resize: none;
  width: 100%;
  height: 50%;
}

input[type=button] {
  background-color: #007FFF;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:disabled {
  background-color: gray;
}

select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}